{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm d-flex flex-column align-items-center welcome">
    <form action="/auth/login" method="POST">
        <fieldset>
            <h1 class=" text-danger-emphasis login-title">TV Show Center</h1>
            <legend class="text-light mt-5">Welcome Back, Please log in to continue</legend>
            <label class="form-label text-light">Username:</label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label text-light mt-3">Password:</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
        </fieldset>
        <input type="submit" value="Log In" class="btn btn-success mt-3">
        <a href="/" type="button" class="btn btn-warning mt-3">Cancel</a>
    </form>
</div>

{% endblock %}