{% layout "layout.liquid" %}
{% block content %}
    <div class="d-flex flex-column align-items-center welcome">
        <div class="h1 text-secondary-emphasis">Welcome to the</div>
        <div class="h1 text-danger-emphasis">TV Show Center!</div>
        {% if loggedIn %}
                <div class="text-info fs-3">{{ username }}</div>
                <a href="/shows" type="button" class="btn btn-light fs-3 mt-5">View All Shows</a>
                <a href="/shows/new" type="button" class="btn btn-light fs-3 mt-3">New Show</a>
                <a href="/shows/mine" type="button" class="btn btn-light fs-3 mt-3">My shows</a>
                <a href="/auth/logout" type="button" class="btn btn-light fs-3 mt-3">Log Out</a>
        {% else %}
                <a href="/auth/signup" type="button" class="btn btn-light fs-3 mt-5">Sign Up</a>
                <a href="/auth/login" type="button" class="btn btn-light fs-3 mt-3">Sign In</a>
                <p class="text-light mt-5">Welcome to the TV Show Center!</p>
                <p class="text-light mt-1">Sign up to look at all the differents shows people have added.</p>
                <p class="text-light mt-1">Give your own ratings, and enter a comment.</p>
                <p class="text-light mt-1">More functionality to come in the future hopefully!</p>
                    
        {% endif %}
    </div>

{% endblock %}