{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/shows" method="POST">
        <fieldset>
            <legend>Create New TV Show</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter show title"
                class="form-control"
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                placeholder="enter show description" 
                class="form-control"
            >
            <label class="form-label">genre:</label>
            <input 
                type="text" 
                name="genre" 
                class="form-control"
            >
            <label class="form-label">Rating:</label>
            <input 
                type="number" 
                name="rating" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Create New Show" class="btn btn-success">
    </form>
</div>
{% endblock %}