{% layout 'layout.liquid'%}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="h1 text-danger-emphasis welcome">TV Show Center!</div>
    <h2 class="display-6 text-light">All TV Shows</h2>
    <div class="row" style="width: 100rem;">
        {% for show in shows %}
        <div class="card" style="width: 20rem;">
            <h5 class="card-header">{{ show.title }}</h5>
            <div class="card-body d-flex flex-column">
                <p class="card-text">
                    Genre: {{ show.genre }}
                </p>
                <p class="card-text">
                    {% if show.rating == 1 %}
                        User Rating: &#11088
                    {% elsif show.rating == 2 %}
                        User Rating: &#11088 &#11088
                    {% elsif show.rating == 3 %}
                        User Rating: &#11088 &#11088 &#11088
                    {% elsif show.rating == 4 %}
                        User Rating: &#11088 &#11088 &#11088 &#11088
                    {% elsif show.rating == 5 %}
                        User Rating: &#11088 &#11088 &#11088 &#11088 &#11088
                    {% else %}
                        No Rating
                    {% endif %}
                </p>
                <a href="/shows/{{ show.id }}" class="btn btn-info mt-auto align-content-end">
                    View {{ show.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/" type="button" class="btn btn-warning mt-3">Home</a>
</div>
{% endblock %}