{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md d-flex flex-column w-50">
    <form action="/shows" method="POST">
        <fieldset>
            <div class="h1 text-danger-emphasis text-center welcome">TV Show Center!</div>
            <legend class="text-light">Create New TV Show</legend>
            <label class="form-label text-light">Title:</label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter show title"
                class="form-control"
                required
            >
            <label class="form-label text-light mt-3">Description:</label>
            <input 
                type="text" 
                name="description" 
                placeholder="enter show description" 
                class="form-control"
                required
            >
            <label class="form-label text-light mt-3">Genre:</label>
            <input 
                type="text" 
                name="genre"
                placeholder="enter show genre" 
                class="form-control"
                required
            >
            <span class = "text-light mt-5">Rating:</span>
            <div class="container">
                <div class="starrating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                </div>
            </div>	
        </fieldset>
        <input type="submit" value="Create New Show" class="btn btn-success mt-3">
        <a href="/" type="button" class="btn btn-warning mt-3">Cancel</a>
    </form>
</div>
{% endblock %}